<!-- <div class="js-widget-overlay"> -->
<!-- </div> -->
<div class="js-widget-dialog">
    <div class="modal-container" id="modalContainer">
        <div class="overlay" id="overlay"></div>
        <div class="modal" id="modal">
            <!-- <img src="assets/imgs/logo.svg" alt="keyfactor critical trust summit" class="logo"> -->
            <section class="modal-copy">
                <h1>Join us for the Critical <br/> Trust Summit</h1>
                <p>Condimentum condimentum nisl sagittis.</p>
                <a href="" class="learn-more">Learn More</a>
                <button type="button" class="close" id="close">Close</button>
            </section>
        </div>
    </div>
</div>